.project-container {
  display: flex;
  height: 30em;
  padding: 80px 0;
  background-color: #c1c1c1;
}

.project-left {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;
}
.project-right {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;
}
.project-mid {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;
}

.title {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 8em;
}
.title h1 {
  margin: 40px 0;
  font-size: 3rem;
}

.title-contain {
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c1c1c1;
}

.project-left,
.project-right,
.project-mid {
  background-color: #c1c1c1;
}

.rickapp,
.todo-app {
  height: 350px;
  border-radius: 30px;
  border: 2px solid black;
}

.api-app {
  height: 350px;
  border-radius: 30px;
  border: 2px solid black;
}

.rickapp:hover {
  transform: scale(0.98);
}
.todo-app:hover {
  transform: scale(0.98);
}

.project-mid:hover {
  transform: scale(0.98);
}

@media only screen and (max-width: 1300px) {
  .rickapp,
  .todo-app,
  .api-app {
    height: 300px;
  }
}

@media only screen and (max-width: 930px) {
  .rickapp,
  .todo-app,
  .api-app {
    height: 270px;
  }
}
@media only screen and (max-width: 900px) {
  .rickapp,
  .todo-app,
  .api-app {
    height: 250px;
  }
}
@media only screen and (max-width: 900px) {
  .rickapp,
  .todo-app,
  .api-app {
    height: 200px;
  }

  .project-container {
    padding: 20px 0;
  }
}

@media only screen and (max-width: 640px) {
  .project-container {
    flex-direction: column;
    padding-bottom: 280px;
  }
}
@media only screen and (max-width: 600px) {
  .project-left {
    justify-content: center;
    align-items: center;
  }
  .project-right {
    align-items: center;
    justify-content: center;
  }

  .project-container {
    flex-direction: column;
  }
}
