.projects img {
  height: 250px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid black;
}

.projects-container {
  margin: 0 auto;
}

.projects {
  text-align: center;
}

.projects img:hover {
  transform: scale(0.98);
}


@media screen and (max-width: 716px) {
  .projects img {
    height: 150px;
  }
}
@media screen and (max-width: 499px) {
  .projects img {
    height: 120px;
  }
}
