.project-container {
  display: flex;
  height: 30em;
}

.project-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.project-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.title {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 8em;
}
.title h1 {
  margin: 40px 0;
  font-size: 3rem;
}

.title-contain {
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c1c1c1;
}

.project-left,
.project-right {
  background-color: #c1c1c1;
}

.rickapp,
.todo-app {
  height: 350px;
  border-radius: 30px;
  border: 2px solid black;
}

.rickapp:hover {
  transform: scale(0.98);
}
.todo-app:hover {
  transform: scale(0.98);
}

@media only screen and (max-width: 1150px) {
  .rickapp,
  .todo-app {
    height: 300px;
  }
}

@media only screen and (max-width: 900px) {
  .rickapp,
  .todo-app {
    height: 270px;
  }
}
@media only screen and (max-width: 900px) {
  .rickapp,
  .todo-app {
    height: 250px;
  }
}
@media only screen and (max-width: 700px) {
  .rickapp,
  .todo-app {
    height: 200px;
  }
}
@media only screen and (max-width: 600px) {
  .rickapp,
  .todo-app {
    height: 150px;
  }
} ;
