.project-section {
  width: 100vw;
  padding-bottom: 80px;
  background-color: #c1c1c1c1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.project-section-wrap {
  display: grid;
  width: 95%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 40px;

}

.proj-title {
  padding: 30px;
  margin: 0;
  font-size: 2.5rem;
}


@media screen and (max-width: 1440px) {
  .project-section-wrap {
    grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
  }
}

@media screen and (max-width: 350px) {
  .project-section-wrap {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
@media screen and (max-width: 290px) {
  .project-section-wrap {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
}
