.box {
  background-color: #f1f1f1;
}

.flex-container {
  display: flex;
  height: 35em;
}

.flex-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1.5;
}

.flex-right {
  display: flex;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

.headshot {
  height: 300px;
  border-radius: 100%;
}

.content {
  overflow: hidden;
  width: 520px;
  margin-left: 100px;
}
.content p {
  text-indent: 45px;
  line-height: 1.7;
  font-size: 1.2rem;
  padding-bottom: 25px;
}
.content h1 {
  font-size: 3.5rem;
}

@media only screen and (max-width: 1100px) {
  .headshot {
    height: 250px;
  }
  .content {
    margin-left: 50px;
  }
  .flex-right {
    justify-content: center;
  }
}

@media only screen and (max-width: 900px) {
  .headshot {
    height: 220px;
  }

  .content p {
    font-size: 1rem;
  }

  .content {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 790px) {
  .content {
    width: 400px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 650px) {
  .flex-container {
    display: block;
  }

  .headshot {
    height: 135px;
  }

  body {
    background-color: #f1f1f1;
  }
}

@media only screen and (max-width: 450px) {
  .headshot {
    height: 110px;
  }
  .content p {
    font-size: 1rem;
  }
  .content h1 {
    font-size: 3rem;
  }
}
