li,
a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.navbar {
  background-color: #f1f1f1;
  min-height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: absolute; */
  width: 100%;
  /* position: absolute; */
  transition: all 0.4s ease;
  z-index: 5;
}

.navbar ul li {
  display: inline-block;
  margin: 0px 20px;
  cursor: pointer;
}

.nav-container {
  margin: 0 auto;
  width: 70vw;
  display: flex;
  justify-content: space-between;
}

.sticky {
  position: fixed;
  top: 0;
}
.navbar.active {
  background-color: #040404;
}

.white {
  color: white;
}

.activelink {
  border-bottom: green;
}

@media only screen and (max-width: 1150px) {
}

@media only screen and (max-width: 735px) {
  .navbar ul li {
    margin: 0 7px;
  }
}

@media only screen and (max-width: 570px) {
  .navbar ul li {
    margin: 0 3px;
  }
} ;
